.all {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #000041;
  color: #fff;
}
.nav-bar {
  width: 100%;
  background: linear-gradient(45deg, #0a046d, #2710f2 );
  animation: gradient 5s ease infinite;
  background-size: 400% 400%;

}
.nav-itens {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-itens p {
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
  width: 20%;
}
#menu-button {
  background: #13089a;
  color: #fff;
  border: none;
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  align-content: center;
  transition: background 0.3s ease;
}
#menu-button:hover {
  background: #1d0cc6;
}
#menu {
  list-style-type: none;
  margin: 10px 5px 0;
  padding: 0;
  border-radius: 5px;
  background: #2710f2;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
#menu li:last-child {
  border-bottom: none;
}
#menu li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.3s;
}
#menu li a:hover {
  background-color: #1d0cc6;
}
.hidden {
  display: none;
}
.menu {
  display: flex;
  border-radius: 5px;
  width: 20%;
  justify-content: center;
  align-items: center;
}
.aboutme {
  height: auto;
  display: flex;
  justify-content: center;
}
.aboutme-text {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #13089a;
  border-radius: 5px;
}
.aboutme-text h1 {
  margin: 0;
  padding: 0;
  position: relative;
  color: #000;
  background: linear-gradient(to right, #103c0d 20%, #693067, #002f32 100%);
  background-clip: text;
  -webkit-text-stroke: 0.06em transparent;
  padding: 15px;
  letter-spacing: 2px;
}
.aboutme-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.aboutme-text p {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #fff;
  letter-spacing: 2px;
}
.aboutme-text h3 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  letter-spacing: 2px;
}
.aboutme-text img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 10px;
  margin: 15px;
}
.align{
  display: flex;
  justify-content: center;
}
.tec{
  display: flex;
  justify-content: center;
gap: 20px;
}
.tec p{
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  background: #13089a;
}
.tec p:hover{
  background: #1d0cc6;
}
.margin-Page{
  margin-top: 200px;
}
.adjust{
max-width: 18rem;
}
.projects{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.experiences li{
  margin-top: 5px;
  padding: 5px;
list-style: none;
font-size: 20px;
}
.contacts{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  width: 50%;
  background: #13089a;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 100px;
}
.grup-input{
  position: relative;
}
.label{
  position: absolute;
padding: 0 5px;
  transform: translateY(-50%);
  top: 50%;
  left: 1em;
  pointer-events: none;
  transition: 0.3s ease;
  color: #fff;
}

.contacts input{
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  border: #000 3px solid;
  background: rgba(61, 61, 61,0.5);
  outline: none;
  width: 100%;
}
input:focus~label,input:valid~label{
  top: 0px;
  background: #13089a;
  font-size: 0.7rem;
}
.contacts button{
  max-width: 25%;
  padding: 12px;
  border-radius: 5px;
  background: #0a046d;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}
.contacts button:hover{
  background: #1d0cc6;
}
.margin-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.footer{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  background: linear-gradient(45deg, #0a046d, #2710f2 );
  animation: gradient 5s ease infinite;
  background-size: 400% 400%;
  padding: 25px;
}
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}